/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header styles */
header {
    background-color: #328151;
    color: #fff;
    padding: 20px 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    /* Ensure the search bar is aligned to the left */
    display: flex;
    align-items: center;
    width: 21%; /* Set width to 21% */
}

.search-bar input[type="text"] {
    padding: 12px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 12px 20px;
    background-color: #328151;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.branding {
    /* Ensure the branding is centered */
    text-align: center;
    flex-grow: 1;
}

.logo {
    font-size: 28px;
    display: inline-block;
}

.nav-links {
    list-style: none;
    margin-top: 10px;
    text-align: center;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links li:first-child {
    margin-left: 0;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.cart {
    /* Ensure the cart is aligned to the right */
    text-align: right;
    width: 21%; /* Set width to 21% */
}

.cart a {
    color: #fff;
    text-decoration: none;
    margin-right: 5px; /* Add some margin between the link and the image */
}

.cart img {
    width: 30px;
}

/* Cart hover effect */
.cart a:hover {
    color: #ffc107; /* Change text color on hover */
}

/* Search button hover effect */
.search-bar button:hover {
    background-color: #4CAF50; /* Change background color on hover */
    color: white; /* Change text color on hover */
}

/* Navigation links hover effect */
.nav-links li a:hover {
    color: #ffc107; /* Change text color on hover */
}

/* Footer styles */
footer {
    background-color: #328151;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

@media screen and (max-width: 600px) {
    .branding {
        flex-basis: 100%; /* Full width on smaller screens */
    }
}
