/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header styles */
header {
    background-color: #fff;
    color: #328151;
    padding: 20px 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo styles */
.logo {
    margin-right: 10px;
    /* Add margin to create space between logo and other elements */
}

.logo img {
    width: 75px;
    /* Adjust the width of the logo */
    border-radius: 50%;
}

.branding {
    /* Ensure the branding is centered */
    text-align: center;
    flex-grow: 1;
}

.name {
    font-size: 28px;
    display: inline-block;
}

.nav-links {
    list-style: none;
    margin-top: 10px;
    text-align: center;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links li:first-child {
    margin-left: 0;
}

.nav-links li a {
    color: #328151;
    text-decoration: none;
}

.cart {
    /* Ensure the cart is aligned to the right */
    text-align: right;
    width: 5%;
}

.cart a {
    font-size: 80%;
    color: #328151;
    opacity: 0.7;
    text-decoration: none;
    margin-right: 8px;
    /* Add some margin between the link and the image */
}

.cart img {
    width: 30px;
    margin-right: 5px;
}

/* Cart hover effect */
.cart a:hover {
    color: #ffc107;
    /* Change text color on hover */
}

/* Navigation links hover effect */
.nav-links li a:hover {
    color: #ffc107;
    /* Change text color on hover */
}

/* Active tab styles */
.nav-links li.active {
    background-color: #328151; /* Green background color */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Add padding to increase the size of the box */
}

.nav-links li.active a {
    color: #fff; /* White text color */
}

.nav-links li.active:hover {
    background-color: #328151; /* Green background color */
}

.nav-links li.active:hover a {
    color: #ffc107;
}

/* Footer styles */
footer {
    background-color: #c7ceca;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
}

@media screen and (max-width: 600px) {
    .branding {
        flex-basis: 100%;
        /* Full width on smaller screens */
    }
}

.background-images {
    position: relative;
    /* Add position relative to allow absolute positioning of text */
    background-image: url("images/background_pic.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.background-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #328151;
    text-align: center;
    font-size: 18px;
    /* Adjusted font size */
    padding: 10px;
    /* Adjusted padding */
    max-width: 80%;
}

.shop-button a {
    display: inline-block;
    padding: 12px 20px;
    background-color: #328151;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.shop-button {
    margin-top: 20px;
    /* Add margin to create space between text and button */
}

.shop-button a:hover {
    background-color: #4CAF50;
}

.image-section {
    max-width: 100%;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}

.image-slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    /* Enable smooth scrolling */
}

.image-container {
    display: flex;
}

.image-container img {
    width: 200px;
    /* Adjust image width as needed */
    height: auto;
    /* Maintain aspect ratio */
    margin-right: 10px;
    /* Add space between images */
}


/* Style navigation arrows */

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


/* Text Section styles */

.text-section {
    text-align: center;
    /* Center-align the text */
    margin-top: 20px;
    /* Add margin to create space between sections */
}

.section-heading {
    font-size: 24px;
    /* Adjusted font size */
    color: #328151;
    /* Match text color with other headings */
    margin-bottom: 10px;
    /* Add margin at the bottom of the heading */
}


/* Blog Posts Styles */

.blog-title-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #e0f2e9;
    /* Consider using a color that matches your website's theme */
    margin: 40px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-title-section h2 {
    /* Changed from h1 to h2 */
    color: #328151;
    /* This should match the main color theme of your site */
    font-size: 2.5rem;
    /* Adjust size as needed */
    margin-bottom: 20px;
}

.blog-title-section p {
    color: #555;
    font-size: 1.1rem;
    max-width: 80%;
    margin: 0 auto;
    /* Centers the text block if it doesn't span full width */
    line-height: 1.6;
}

.blog-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin: 20px 0;
}

.blog-post {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    flex-basis: calc(25% - 20px);
    margin-bottom: 20px;
}

.blog-post h2 {
    color: #328151;
    font-size: 20px;
    margin-bottom: 10px;
}

.blog-post p {
    line-height: 1.6;
    color: #666;
}


/* Responsive Design for Blog Posts */

@media (max-width: 1024px) {
    .blog-post {
        flex-basis: calc(33.333% - 20px);
    }
}

@media (max-width: 768px) {
    .blog-post {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .blog-post {
        flex-basis: 100%;
    }
}


/* Reviews Posts Styles */

.reviews {
    text-align: center;
    padding: 50px 20px;
    background-color: #e0f2e9;
    margin: 40px 0;
    border-radius: 20px;
}

.reviews h2 {
    color: #328151;
    margin-bottom: 30px;
}

.review-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.review-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33% - 20px);
    margin: 0 auto;
}

.review-card p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.review-card h3 {
    margin-top: 20px;
    color: #328151;
}

@media (max-width: 768px) {
    .review-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .review-card {
        width: 100%;
    }
}